<label for="transaction_category_id" class="col-sm-3 control-label">Категорія</label>

<div class="col-sm-9">
  <select class="form-control" id="transaction_category_id" name="transaction[category_id]">

  </select>
</div>