<td></td>
<td>
  <div class="transaction_date input-group date">
    <input value="{{formatDate date 'D MMM. YYYY'}}" placeholder="Дата" id="transaction_date" type="text"
           class="form-control">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-calendar"></i>
            </span>
  </div>
</td>
<td>
  <div id="edit-categories-group"></div>
</td>
<td>
  <input class="form-control" id="transaction_title" name="transaction[title]" placeholder="Назва"
         type="text" value="{{title}}">
</td>
<td>
  <input class="form-control" id="transaction_amount" name="transaction[amount]" placeholder="Сума"
         type="text" value="{{amount}}">
</td>
<td>
  <div id="edit-currencies-group"></div>
</td>
<td class="actions">
  <button id="edit-transaction" type="submit" class="btn" title="Пыдтвердити">
    <span class="glyphicon glyphicon-ok"></span>
  </button>
  <a class="btn btn-default delete-transaction" href="#" role="button" title="Видалити запис">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
</td>