<div class="col-sm-6">
  <h1 class="header">Додати розхід</h1>

  <div id="new-transaction"></div>
</div>

<div class="row">
  <div class="col-sm-7">
    <div id="transactions-table">
      <table class="table table-bordered table-hover">
        <thead>
        <td>ID</td>
        <td>Title</td>
        <td>Amoubnt</td>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>