<div class="row">
  <div class="col-xs-12 col-sm-12">
    <ul class="nav nav-tabs">
      <li id="debet-tab" role="transaction" class="active"><a href="#">Розходи</a></li>
      <li id="credit-tab" role="transaction"><a href="#">Доходи</a></li>
    </ul>
    <div class="col-xs-12 col-sm-9 col-md-7">
      <h1 class="header">Додати розхід</h1>

      <div id="new-transaction"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div id="transactions-table">
      <table class="table table-bordered table-hover">
        <thead>
        <td>ID</td>
        <td>Title</td>
        <td>Amoubnt</td>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>