<form accept-charset="UTF-8" action="/transactions" class="form-horizontal" id="new_transaction" method="post"
      role="form">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="transaction_title" class="col-sm-3 control-label">Назва</label>

        <div class="col-sm-9">
          <input class="form-control" id="transaction_title" name="transaction[title]" placeholder="Назва"
                 type="text">
        </div>
      </div>

      <div class="form-group" id="categories-group"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="form-group">
        <label for="transaction_amount" class="col-sm-4 control-label">Cума</label>

        <div class="col-sm-8">
          <input class="form-control" id="transaction_amount" name="transaction[amount]" placeholder="Сума"
                 type="text">
        </div>
      </div>
    </div>
    <div class="col-sm-3" id="currencies-group"></div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button id="add-transaction" type="submit" class="btn btn-success">Додати</button>
    </div>
  </div>
</form>