<div class="row">
  <div class="col-xs-12 col-sm-12">
    <ul class="nav nav-tabs">
      <li id="debet-tab" role="transaction" class="active"><a href="#">Розходи</a></li>
      <li id="credit-tab" role="transaction"><a href="#">Доходи</a></li>
    </ul>
    <div class="col-xs-12 col-sm-9 col-md-7">

      <div id="new-transaction"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div id="transactions-table">
      <form class="form-horizontal" id="edit_transaction" role="form">
        <table class="table table-bordered table-hover">
          <thead>
          <td style="width: 5%">№</td>
          <td style="width: 20%">Дата</td>
          <td style="width: 20%">Категорія</td>
          <td style="width: 25%">Коментар</td>
          <td style="width: 10%">Сума</td>
          <td style="width: 10%">Валюта</td>
          <td style="width: 10%" class='no-sort'></td>
          </thead>
          <tbody>

          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>