<div class="chart_header"></div>
<div class="chart_body"></div>
<div class="chert_details" style="display: none">
  <div class="row">
    <div id="transactions-table">
      <form class="form-horizontal" id="edit_transaction" role="form">
        <table class="table table-bordered table-hover">
          <thead>
          <td style="width: 5%">№</td>
          <td style="width: 20%">Дата</td>
          <td style="width: 20%">Категорія</td>
          <td style="width: 25%">Коментар</td>
          <td style="width: 10%">Сума</td>
          <td style="width: 10%">Валюта</td>
          <td style="width: 10%" class="no-sort"></td>
          </thead>
          <tbody>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
