<div id="{{viewId}}">
  <div class="title">{{title}}</div>
  <div class="input-daterange input-group" id="datepicker">
    <input value="{{formatDate dateFrom 'D MMM. YYYY'}}" type="text" class="input-sm form-control" name="start" data-attr="dateFrom"/>
    <span class="input-group-addon">до</span>
    <input value="{{formatDate dateTo 'D MMM. YYYY'}}" type="text" class="input-sm form-control" name="end" data-attr="dateTo"/>
  </div>
</div>