<div id="{{viewId}}" class="row">
  <div class="col-md-3 col-sm-12">
    <div class="title">{{title}}</div>
  </div>
  <div class="col-md-3 col-sm-12">
    <div class="input-daterange input-group" id="datepicker">
      <input id="start" value="{{formatDate dateFrom 'D MMM. YYYY'}}" type="text" class="input-sm form-control" name="start"
             data-attr="dateFrom"/>
      <span class="input-group-addon">до</span>
      <input id="end" value="{{formatDate dateTo 'D MMM. YYYY'}}" type="text" class="input-sm form-control" name="end"
             data-attr="dateTo"/>
    </div>
  </div>
  <div class="col-md-3 col-sm-12">
    <div class="dropdwn">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Період
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu range-selector" aria-labelledby="dropdownMenu2">
        <li><a class="range" data-range="0" href="#">Поточний місяць</a></li>
        <li><a class="range" data-range="2" href="#">3 місяці</a></li>
        <li><a class="range" data-range="5" href="#">6 місяців</a></li>
        <li><a class="range" data-range="11" href="#">рік</a></li>
      </ul>
    </div>
  </div>
</div>