<div id="{{viewId}}" class="row">
  <h2 class="page-header">

    <div class="row">
      <div class="col-md-4 col-sm-12">{{title}}</div>
      <div class="col-md-4 col-sm-12">
        <div class="input-daterange input-group" id="datepicker">
          <input id="start" value="{{formatDate dateFrom 'D MMM. YYYY'}}" type="text" class="input-sm form-control"
                 name="start"
                 data-attr="dateFrom"/>
          <span class="input-group-addon">до</span>
          <input id="end" value="{{formatDate dateTo 'D MMM. YYYY'}}" type="text" class="input-sm form-control"
                 name="end"
                 data-attr="dateTo"/>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="dropdwn">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Період
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu range-selector" aria-labelledby="dropdownMenu2">
            <li><a class="range" data-range="0">Поточний місяць</a></li>
            <li><a class="range" data-range="2">3 місяці</a></li>
            <li><a class="range" data-range="5">6 місяців</a></li>
            <li><a class="range" data-range="11">рік</a></li>
          </ul>
        </div>
      </div>
    </div>
  </h2>
</div>