<h3 class="section-title">expenditures</h3>
<div class="container-fluid">
    <div class="row">
        <div class="chart-container col s12 l7"></div>
        <div class="table-container col s12 l5"></div>
    </div>
</div>
