<h3 class="section-title">expenditures</h3>
<div class="container-fluid">
    <div class="row">
        <div class="chart-container col s12 l7">
            <div id="radial-chart" class="card">

            </div>
        </div><!-- //col -->
        <div class="col s12 l5">
            <div class="card">
                <table class="responsive-table highlight">
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>Share</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Rent</td>
                        <td>50%</td>
                    </tr>
                    <tr>
                        <td>Rent</td>
                        <td>50%</td>
                    </tr>
                    <tr>
                        <td>Rent</td>
                        <td>50%</td>
                    </tr>
                    <tr>
                        <td>Rent</td>
                        <td>50%</td>
                    </tr>
                    <tr>
                        <td>Rent</td>
                        <td>50%</td>
                    </tr>
                    </tbody>
                </table>
            </div><!-- //card -->
        </div><!-- //col -->
    </div><!-- //row -->
</div><!-- //container-fluid -->
